{% extends 'main/header_user.html' %}
{% load static %}
{% block data %}
<div class="container">

        <!--<br><br>
        <div class="container" style="width: 100%; height: 400px;">
            <h5><font face="Monotype Corsiva" size="8" color="orange">Mentor :</font></h5><br>
        <div class="ca">
            <div class="ca-image" style="float: left; width: 20%;margin-right: 160px; margin-left: 1%;">
                <img src="{% static 'images/debrajsir.jpeg' %}" style="border-radius: 50%; height: 250px; width:250px; object-fit: cover;">
            </div>
            <div class="ca-body" style="float: left; width: 45%;">
                <p><font face="Times New Roman"><b>Mr. Debraj Chatterjee, Assistant Professor Department of Computer Science & Engineering in Techno International Newtown, Kolkata.</b></font></p><br>
                <p><font face="Times New Roman"><b>debraj.chatterjee@tict.edu.in</b></font></p><br>
                <p><font face="Times New Roman"><b>9831491399</b></font></p><br>
            </div>
        </div>
    </div>-->
    <br><br>



    <div class="contain" style="width: 100%; height: 400px">
        <h5><font face="Monotype Corsiva" size="8" color="orange">Team members :</font></h5><br>
    <div class="ca">
        <div class="ca-image" style="float: left; width: 20%;margin-right: 160px; margin-left: 1%;">
            <img src="{% static 'images/rohit.jpeg' %}" style="border-radius: 50%; height: 250px; width:250px; object-fit: cover;">
        </div>
        <div class="ca-body" style="float: left; width: 45%;">
            <p><font face="Times New Roman"><b>Rohit Singh, currently a penultimate year student pursuing  Computer Science & engineering in Techno International Newtown, Kolkata.</b></font></p><br>
            <p><font face="Times New Roman"><b>rohitsingh.2018@cse.tict.edu.in</b></font></p><br>
            <p><font face="Times New Roman"><b>6291520933</b></font></p>

        </div>
    </div>
    </div><br>

    <div class="contain" style="width: 100%; height: 400px">
    <div class="ca">
        <div class="ca-image" style="float: left; width: 20%;margin-right: 160px; margin-left: 1%;">
            <img src="{% static 'images/souvik.png' %}" style="border-radius: 50%; height: 250px; width:250px; object-fit: cover;">
        </div>
        <div class="ca-body" style="float: left; width: 45%;">
            <p><font face="Times New Roman"><b>Souvik Sarkar, currently a penultimate year student pursuing Computer Science & Engineering in Techno International Newtown, Kolkata.
            </b></font></p><br>
            <p><font face="Times New Roman"><b>souviksarkar.ronnie@gmail.com</b></font></p><br>
            <p><font face="Times New Roman"><b>8889419994</b></font></p><br>
        </div>
    </div>
    </div><br>

    <div class="contain" style="width: 100%; height: 400px">
    <div class="ca">
        <div class="ca-image" style="float: left; width: 20%;margin-right: 160px; margin-left: 1%;">
            <img src="{% static 'images/sidhant.jpeg' %}" style="border-radius: 50%; height: 250px; width:250px; object-fit: cover;">
        </div>
        <div class="ca-body" style="float: left; width: 45%;">
            <p><font face="Times New Roman"><b>Sidhant Singh, currently a penultimate year student pursuing Computer Science & Engineering in Techno International Newtown, Kolkata.</p><br>
            <p><font face="Times New Roman"><b>singhsidhant2000@gmail.com</b></font></p><br>
            <p><font face="Times New Roman"><b>9340115081</b></font></p><br>
        </div>
    </div>
    </div>
    
        
    </div>
{% endblock %}